<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Altogether Fitting and Proper</title>
  <link rel="stylesheet" type="text/css" href="/static/custom.css">
  <link rel="icon" href="/img/favicon.ico">  
</head>
<body>

<div class="jumbotron">
  <a href="http://sharpwriter.deviantart.com/art/Old-ass-Version-187841237">
    <h1>It is altogether fitting and proper that we should do this.</h1>
  </a>
</div>

<div class="container text-center">

  <div class="row">

    <div class="col-xs-12 col-md-3">
      <a href="http://mikeleavittart.com/fineart/portfolio/EmpirePeaks/file/LincolnEP.jpg">
        <div class="thumbnail text-center">
          <img class="wide img-responsive img-thumbnail" src="http://mikeleavittart.com/assets/images/fineart/portfolio/empirepeaks/LincolnEPSketch.jpg"/>
          <div class="caption"><h2>A. Lincoln / Han Solo sculpture</h2></div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-3">
      <a href="http://www.stylinonline.com/hat-spiderman-red-foil-top-hat.html">
        <div class="thumbnail text-center">
          <img class="wide img-responsive img-thumbnail" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQyl6WEtgGBxUfJpfJwtvN_yozDsYDgOn1bfrYD9neFfPXaDFvv"/>
          <div class="caption"><h2>Tin Foil Stovepipe</h2></div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-3">
      <a href="http://tacit.livejournal.com/304555.html">
        <div class="thumbnail text-center">
          <img class="wide img-responsive img-thumbnail" src="http://www.obsidianfields.com/lj/lincoln-carbonite.jpg"/>
          <div class="caption"><h2>Giant Lincoln in carbonite</h2></div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-3">
      <a href="http://www.cafepress.com/+throw_blanket,1625002944">
        <div class="thumbnail text-center">
          <img class="wide img-responsive img-thumbnail" src="http://i3.cpcache.com/product/1625002944/throw_blanket.jpg?height=460&width=460&qv=90"/>
          <div class="caption"><h2>Lincoln Snuggie</h2></div>
        </div>
      </a>
    </div>

  </div>
  <div class="row">
  </div>

</div>

</body>
</html>
